<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pranamasana</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
</head>
<body> 
    <div class="container">
        <h1>Pranamasana</h1>
        <p>Pranamasana is a centering asana often used as a routine part of Surya Namaskar or as a transitional pose. 
            While standing, sitting or squatting, the palms press together in front of the heart’s center while allowing the shoulders 
            to roll down the back and the elbows to rest at the sides of the rib cage. Pranamasana is also known as prayer pose in English.
        </p>

        <h2>Tutorial</h2>
        <img src="https://static.wixstatic.com/media/84dfe1_ceae302fca8c4d9fab8eca262d198512~mv2.png/v1/fill/w_438,h_338,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/84dfe1_ceae302fca8c4d9fab8eca262d198512~mv2.png" alt="Pranamasana">
        <p>This is a basic prayer stance. Stand at the edge of the mat keeping your feet together and balance your weight evenly on both feet. As you breathe in, lift both arms from the sides, and as you exhale bring your palms together in front of the chest in a prayer position.</p>
        
        <h1>Pose Analyzer</h1>
        <button class="btn" onclick="startPeriodicAnalysis('pranamsana')">Pranamasana</button>
        
        <div id="result"></div>
        <button id="toggle-speech" class="toggle-button" onclick="toggleSpeech()">Speech: Off</button>
    </div>
    
    <script>
        let speechEnabled = false;
        let intervalId = null;

        function analyzePose(poseName) {
            fetch('/analyze_pose', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ pose_name: poseName })
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('result').innerText = data.result;
                if (speechEnabled) {
                    speakText(data.result);
                }
                if (data.result === "Pose is correct") {
                    clearInterval(intervalId);
                }
            })
            .catch(error => {
                console.error('Error:', error);
                const errorMessage = 'Error analyzing pose';
                document.getElementById('result').innerText = errorMessage;
                if (speechEnabled) {
                    speakText(errorMessage);
                }
            });
        }

        function speakText(text) {
            const cleanedText = text.replace(/_/g, ' ');
            const speech = new SpeechSynthesisUtterance(cleanedText);
            speech.lang = 'en-US';
            window.speechSynthesis.speak(speech);
        }

        function toggleSpeech() {
            speechEnabled = !speechEnabled;
            const toggleButton = document.getElementById('toggle-speech');
            toggleButton.innerText = speechEnabled ? 'Speech: On' : 'Speech: Off';
            toggleButton.classList.toggle('active', speechEnabled);
        }

        function startPeriodicAnalysis(poseName) {
            analyzePose(poseName); // Initial call
            intervalId = setInterval(function() {
                analyzePose(poseName);
            }, 7000); // Call every 7 seconds
        }
    </script>

</body>
</html>
