<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hasta Uttanasana</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
</head>
<body>
    <div class="container">
        <h1>Hasta Uttanasana</h1>
        <p>Hasta Uttanasana, or Uttanasana, is a yoga pose in the (Sun Salutation) Surya Namaskar sequences. 
           This pose has a standing backbend, which helps in the full intake of oxygen, which significantly stretches the whole body. 
           The pose is also called a Hand-Raising Pose, Raised Arms Pose, Raised Hands Pose, and Sky Reaching Pose.
        </p>
        <img src="https://static.wixstatic.com/media/84dfe1_0f9b1de509994303be27027f83a8a897~mv2.png/v1/fill/w_438,h_338,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/84dfe1_0f9b1de509994303be27027f83a8a897~mv2.png" alt="Hasta Uttanasana">
        <p>Breathing in, lift the arms up and bend back, keeping the biceps close to the ears. In this pose, the effort is to stretch the whole body up from the heels to the tips of the fingers.</p>
        <h1>Pose Analyzer</h1>
        <button class="btn" onclick="startPeriodicAnalysis('hastauttanasana')">Analyse Hasta Uttanasana</button>
        
        <div id="result"></div>
        <button id="toggle-speech" class="toggle-button" onclick="toggleSpeech()">Speech: Off</button>
    </div>
    
    <script>
        let speechEnabled = false;
        let intervalId = null;

        function analyzePose(poseName) {
            fetch('/analyze_pose', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ pose_name: poseName })
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('result').innerText = data.result;
                if (speechEnabled) {
                    speakText(data.result);
                }
                if (data.result === "Pose is correct") {
                    clearInterval(intervalId);
                }
            })
            .catch(error => {
                console.error('Error:', error);
                const errorMessage = 'Error analyzing pose';
                document.getElementById('result').innerText = errorMessage;
                if (speechEnabled) {
                    speakText(errorMessage);
                }
            });
        }

        function speakText(text) {
            const cleanedText = text.replace(/_/g, ' ');
            const speech = new SpeechSynthesisUtterance(cleanedText);
            speech.lang = 'en-US';
            window.speechSynthesis.speak(speech);
        }

        function toggleSpeech() {
            speechEnabled = !speechEnabled;
            const toggleButton = document.getElementById('toggle-speech');
            toggleButton.innerText = speechEnabled ? 'Speech: On' : 'Speech: Off';
            toggleButton.classList.toggle('active', speechEnabled);
        }

        function startPeriodicAnalysis(poseName) {
            analyzePose(poseName); // Initial call
            intervalId = setInterval(function() {
                analyzePose(poseName);
            }, 7000); // Call every 7 seconds
        }
    </script>
</body>
</html>
